<h2 class="media-title">Photos</h2>

<div class="col-md-4 col-sm-6 col-xs-12">
    <img class="img-responsive" src="<%= data.data.images.medium_screenshot_image1 %>" alt="<%= data.data.title %>" title="<%= data.data.title %>">
</div>

<div class="col-md-4 col-sm-6 col-xs-12">
    <img class="img-responsive" src="<%= data.data.images.medium_screenshot_image2 %>" alt="<%= data.data.title %>" title="<%= data.data.title %>">
</div>

<div class="col-md-4 col-sm-6 col-xs-12">
    <img class="img-responsive" src="<%= data.data.images.medium_screenshot_image3 %>" alt="<%= data.data.title %>" title="<%= data.data.title %>">
</div>