<h2 class="media-title">Photos</h2>

<div class="col-md-4 col-sm-6 col-xs-12">
    <img class="img-responsive" src="<%= data.data.movie.medium_screenshot1 %>" alt="<%= data.data.movie.title %>" title="<%= data.data.movie.title %>">
</div>

<div class="col-md-4 col-sm-6 col-xs-12">
    <img class="img-responsive" src="<%= data.data.movie.medium_screenshot2 %>" alt="<%= data.data.movie.title %>" title="<%= data.data.movie.title %>">
</div>

<div class="col-md-4 col-sm-6 col-xs-12">
    <img class="img-responsive" src="<%= data.data.movie.medium_screenshot3 %>" alt="<%= data.data.movie.title %>" title="<%= data.data.movie.title %>">
</div>